<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Rule of Dress</title>
</head>

<body>
    <header class="container-fluid">
        <p class="sans-serif"> Rule of Dress</p>
    </header>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav ">
                <ul>
                    <br>
                    <li><a href="#">เช็คชื่อนิสิต</a></li>
                    <br>
                    <li class="active"><a href="history">ประวัติการเช็คชื่อนิสิต</a></li>
                    <br>
                    <li><a href="overview">ผลการเช็คชื่อนิสิต</a></li>

                </ul>
            </div>
            <div class="col-sm-10 ">
                <h2>รายการประวัติการเช็คชื่อทั้งหมด</h2>



                <table id="detail">
                    <tr>
                        <th>วัน/เดือน/ปี เวลา</th>
                        <th>รหัสวิชา</th>
                        <th>ชื่อวิชา</th>
                        <th>กลุ่มเรียน</th>
                        <th>ห้องเรียน</th>
                        <th>ภาคเรียน</th>
                        <th>ดูรายละเอียด</th>


                    </tr>
                    <tr *ngFor="let item of attendance">
                        <td>{{item.dateTime}}</td>
                        <td>{{item.subjectID}}</td>
                        <td>{{item.subjectName}}</td>
                        <td>{{item.subjectGroup}}</td>
                        <td>{{item.classroom}}</td>
                        <td>{{item.term}}</td>
                        <div style="text-align:center;">
                            <button (click)="goDetail(item.student)" class="btn btn-info btn-lg">
                                <span class="glyphicon glyphicon-list-alt"></span> ดูรายละเอียด
                            </button >
                            <button (click)="goDetail(item.student)" class="btn btn-info btn-lg">
                                <span class="glyphicon glyphicon-list-alt"></span> ดูรายละเอียด
                            </button >
                        </div>
                    </tr>



                </table>

            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <p>Informatics, Burapha University</p>
    </footer>
</body>

</html>